html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, monospace;
}

body {
    background: lightgray;
}

#app {
    height: 100%;
    width: 100%;
}
button {
    cursor: pointer;
}
.action-buttons {
    display: flex;
    justify-content: center;
}
.page-view {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}